.modalButton {
    display: flex;
    justify-content: center;
    max-width: 260px;
    max-height: 260px;
}

.titleImage {
    text-align: center;
    max-width: 466px;
}

@media (max-width: 900px){
    .modalButton {
        display: flex;
        justify-content: center;
        max-width: 260px;
        max-height: 260px;
        box-shadow: none;
    }

    .titleImage {
        max-width: 88vw;
    }
}