.aboutContainer {
    background: url(../images/portfolioBackground.jpg) no-repeat center;
    background-size: 100% 100%;
    padding: 100px 100px 300px 100px;
}

.aboutBody {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 2.5rem;
}

@media screen and (max-width: 500px) {
    .aboutContainer {
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }
    .aboutBody {
        line-height: 1.75rem;
        margin: 0 20px;
        padding-bottom: 10px;
    }
}