.aboutContainer {
    background: url(../images/portfolioBackground.jpg) no-repeat center;
    background-size: 100% 120%;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 500px) {
    .aboutContainer {
        padding-top: 60px;
    }
}