.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 80px;
}

.container {
    position: relative;
    width: 252px;
    margin: 30px;
}

.image {
    display: block;
    width: auto;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 5px 10px #777;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .8s ease;
}

.overlay:focus {
    outline: none;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
    cursor: pointer;
}

.category_header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
