.toolbar {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .85);
    box-shadow: 0 0 2px rgb(255, 255, 255);
    height: 100px;
    padding: 0 20px;
    z-index: 600;
}

.toolbar_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-items: center;
}

.spacer {
    flex: 1;
}

.toolbar_logo {
    margin-left: 10px;
    font-size: 2rem;
    letter-spacing: 1.25px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.toolbar_logoType {
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .5px;
}

.toolbar_navigation_items .item {
    font-size: .75rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 .75rem;
}

.toolbar_navigation_items .item:hover {
    color: rgb(255, 164, 27)
}

.toolbar_navigation_items .item:active {
    color: rgb(255, 102, 0)
}

@media (max-width: 700px) {
    .toolbar {
        height: 70px;
        position: fixed;
        display: flex;
        background: rgb(0, 0, 0);
    }
    .toolbar_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin: 10px;
    }
    .toolbar_logoType {
        font-size: .63rem;
        line-height: .2rem;
        letter-spacing: .75px;
        margin: 0 10px 15px;
    }
    .toolbar_navigation_items {
        display: none;
    }
}

@media (min-width: 701px) {
    .toolbar_toggle-button {
        display: none;
    }
}