.toolbar {
    position: fixed;
    width: 100%;
    background: rgb(81, 97, 124);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
    z-index: 600;
}

.toolbar_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-items: center;
}

.spacer {
    flex: 1;
}

.toolbar_logo {
    margin-left: 1rem;
    font-size: 2.7rem;
    letter-spacing: 1.25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.toolbar_logoType {
    font-size: 1rem;
    letter-spacing: .5px;
}

.toolbar_navigation_items .item {
    font-size: .75rem;
    color: white;
    text-decoration: none;
    padding: 0 .75rem;
}

.toolbar_navigation_items .item:hover {
    color: rgb(255, 164, 27)
}

.toolbar_navigation_items .item:active {
    color: blue;
}

@media (max-width: 900px) {
    .toolbar {
        height: 70px;
        position: relative;
    }
    .toolbar_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2.3rem;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
    }
    .toolbar_logoType {
        font-size: .82rem;
        line-height: .2rem;
        letter-spacing: .75px;
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .toolbar_navigation_items {
        display: none;
    }
}

@media (min-width: 901px) {
    .toolbar_toggle-button {
        display: none;
    }
    .toolbar_logo {
        margin-left: 10px;
        justify-content: center;
        text-align: center;
    }
}