    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90px;
      width: 100%;
      background-color: rgb(81, 97, 124);
      z-index: 500;
    }

    .footer p {
      color: white;
      font-family: 'Open Sans', sans-serif;
    }

    .footer a {
      color: white;
    }

    .footer a:hover {
      color: grey;
    }

    .copyright {
      font-size: 12px;
    }

    @media(max-width: 768px) {
      .footer {
        z-index: 300;
      }
    }