* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  background-color: blue;
  height: 100vh;
}