/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  }

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}